<div id="PeoplePaletteBG" class="draggable"> 
    <div id="PeoplePaletteHeaderBG">
        <label id="PeoplePaletteHeaderTitle">People</label>
        <label id="PeoplePaletteHeaderSubtext">Create New...</label>
        <label id="PeoplePaletteCross"><img src="../../images/CloseIcon.svg"  (click)="collapse()" /></label>
    </div>
        <div id="myPeoplePaletteDiv" class="PeoplePalette"></div>
</div>

<!--<div id="PeoplePalette" class="draggable">
    <peopleheader></peopleheader>
    <peoplecategory></peoplecategory>
</div>-->
