.draggable {
             display: inline-block;
             vertical-align: top;
             //border: 1px solid #404040;
             //border-radius: 4px;
             background-color: #808080;
             position: absolute;
             top: 20px;
             left: 120px;
             z-index: 500;
     }

     .handle {
             background-color: #2D2C2C;
             color: white;
             cursor: move;
             height:40px;
             text-align: center;
             vertical-align : middle;
             font: bold 18px sans-serif;
     }

    
     .scrollbar{
        height:400px;
        overflow-y:auto;
        /*scrollbar-face-color:#8080FF;
        scrollbar-arrow-color:#FFFFFF;
        scrollbar-track-color:#DDDDFF;*/
    }
   
     

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.35); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #2D2C2C; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.3); 
}