.ErrorsPane{
    background-color:#303030;
    color: white;
    height: 130px;
    width: 1500px;    
    top: 650px;
    position: absolute;
}

.ErrorTable{
    color: white;
    font-weight: normal;
    font-size: 80%;
}

.scrollbar{
    /*width:200px;
    height:300px;*/
    overflow-y: scroll;
    overflow-x: scroll;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.35); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #2D2C2C; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
 background: rgba(0,0,0,0.3); 
}
/*table .header-fixed {
  position: fixed;
  top: 50px;
  z-index: 1020; 

}*/      
  table {
            width: 100%;
        }

        thead, tbody, tr, td, th { display: block; }

        tr:after {
            content: ' ';
            display: block;
            visibility: hidden;
            clear: both;
        }

        thead th {
            height: 30px;

            /*text-align: left;*/
        }

        tbody {
            height: 200px;
            overflow-y: auto;
        }

        thead {
            /* fallback */
        }


        tbody td, thead th {
            width: 19.2%;
            float: left;
        }