<div id="AreaPaletteBG" class="draggable">
    <div id="AreaPaletteHeaderBG">
        <label id="AreaPaletteHeaderTitle">Areas</label>
        <label id="AreaPaletteHeaderSubtext">Create New...</label>
        <label id="AreaPaletteCross"><img src="../../images/CloseIcon.svg" (click)="collapse()" /></label>
    </div>
    <div id="myAreaPaletteDiv" class="AreaPalette"></div>
</div>
<!--<div id="AreaPaletteBG" class="draggable">
    <areapalletheader></areapalletheader>
    <areapalletcategory></areapalletcategory>
</div>-->
